<div class="container">
    <div class="row">
        <div class="col-4">
            <form [formGroup]="miFormulario" >
                <label for="">Nombre</label>
                <input type="text" class="form-control" formControlName="nombre">
                <label for="">Telefono</label>
                <input type="text" class="form-control" formControlName="telefono">
                <button class="btn btn-primary">Enviar datos</button>
            </form>
        </div>
    </div>
</div>
